.button {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
}

.button--primary {
  font-family: $secondary-font;
  background-color: $accent-color;
  color: $light-base;
  text-decoration: none;
}
