.catalog__wrapper {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 71px;
  }
}

.catalog__title {
  margin: 0 20px 41px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 84px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, 324px);
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, 245px);
    gap: 63px 80px;
  }
}

.catalog__item {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 24px;

  @media (width < $tablet-width) {
    max-width: 400px;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 324px;
    min-height: 429px;
    background-image: linear-gradient(to bottom, $light-base 16%, $light-base 16%, $light-secondary 16%);
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 38px 40px;
    width: 245px;
  }
}

@media (width < $tablet-width) {
  .catalog__item::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $light-grey;
    width: calc(100vw + 100%);
    top: 0;
    right: 0;
    box-shadow: 100vw 0 0 0 $light-grey;
  }

  .catalog__item:last-child::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $light-grey;
    width: calc(100% + 100vh);
    bottom: 0;
  }
}

.catalog__image-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 107px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    width: 200px;
    height: 210px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
    width: 169px;
  }
}

.catalog__card-info-wrapper {
  width: 140px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.catalog__photo-link {
  display: block;
  cursor: pointer;
}

.catalog__photo-link:hover {
  opacity: 0.6;
}

.catalog__title-link {
  display: block;
  margin-bottom: 14px;
  width: 76px;
  font-family: $secondary-font;
  color: $base-third;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    width: 135px;
  }

  @media (min-width: $desktop-width) {
    width: 140px;
    margin-bottom: 22px;
  }
}

.catalog__title-link:hover,
.catalog__title-link:focus {
  opacity: 0.6;
}

.catalog__title-link:active {
  opacity: 0.3;
}

.catalog__card-title {
  margin: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog__table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
  }
}

.catalog__table-body {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.catalog__table-row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $light-grey3;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 7px;
  }
}

.catalog__link {
  width: 100%;
  margin-top: 17px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
  }
}

.catalog__item--show-more {
  background-image: none;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-top: 83px;
    padding: 50px 37px 40px;
    border: 2px solid $light-secondary;
  }
}

.catalog__item--show-more .catalog__title-link {
  margin-bottom: 8px;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    width: 135px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.catalog__item--show-more .catalog__title-link::before {
  content: "";
  display: inherit;
  margin: 5px auto 25px;
  mask-image: url("../../icons/stack.svg#icon-plus");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: $light-grey;
  width: 30px;
  height: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 50px;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 38px;
  }
}


.catalog__text {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 78px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    width: 170px;
  }
}
