.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 20px;
}

.contacts__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-secondary;
  width: 140px;
}

.contacts__address {
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
  font-style: normal;
}

.contacts--catalog {
  background-color: $light-secondary;
}
