.example {
  padding: 25px 20px 40px;
  background-color: $light-grey2;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
}

.example__description {
  color: $dark-grey;
}

.example__list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.example__item {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__definition {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 10px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
}

.example__meaning {
  margin: 0;
  margin-bottom: -20px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $light-grey2;
  width: 77px;
}

.example__expenses {
  margin: 0;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  display: flex;
}
