.example {
  background-color: $light-grey2;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, $light-base 57.3%, $light-base 57.3%, $light-grey2 57.3%);
  }
}

.example__wrapper {
  margin: 0 auto;
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 101px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 75px;
    display: grid;
    grid-template-columns: 460px 1fr;
    column-gap: 195px;
    max-width: $max-width-desktop-wrapper;
  }
}

.example__title {
  margin: 0 0 40px;
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__info {
  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
    display: grid;
    grid-template-columns: 367px 1fr;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }
}

.example__description {
  margin-top: 0;
  margin-bottom: 20px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 61px;
    gap: 42px;
    justify-content: stretch;
  }
}

.example__item {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    min-height: 72px;
  }
}

.example__definition {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 9px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__meaning {
  margin: auto 0 -20px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $light-grey2;

  @media (width < $tablet-width) {
    width: 85px;
  }

  @media (min-width: $tablet-width) {
    margin: auto 0 -10px;
    padding: 0 8px;
    background-color: $light-base;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $light-grey2;
  }
}

.example__expenses {
  margin: 0 0 20px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    align-items: flex-end;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    flex-direction: row;
    column-gap: 63px;
  }
}

.example__slider {
  margin: 0 auto;
  grid-column: 2;
  grid-row: 1/3;
  justify-content: center;
}
