.extra-products__wrapper {
  margin: 0 auto;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
    padding: 0 110px;
  }
}

.extra-products__title {
  position: relative;
  margin: 0;
  margin-bottom: 34px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  background-color: $light-base;
  width: fit-content;
  box-shadow: -40px 0 0 0 $light-base, 40px 0 0 0 $light-base;

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;
    margin-left: 40px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    margin-left: 0;
    font-size: 40px;
    line-height: 40px;
    grid-column: 1/-1;
  }
}

.extra-products__table {
  width: 100%;
  margin: 0 auto 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.extra-products__bonus {
  margin: 0 auto;
  padding: 58px 42px 25px;
  display: grid;
  align-items: center;
  background-image:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(
      url("../../images/bonus-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/bonus-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/bonus-background-mobile@2x.jpg") 2x,
      url("../../images/bonus-background-mobile@1x.jpg") 1x
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 290px;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    padding: 20px;
    grid-template-columns: 195px 1fr;
    column-gap: 206px;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/bonus-background-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/bonus-background-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/bonus-background-tablet@2x.jpg") 2x,
        url("../../images/bonus-background-tablet@1x.jpg") 1x,
      );
    max-width: 707px;
    min-height: 200px;
    background-size: contain;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    max-width: 245px;
    min-height: 288px;
    grid-template-columns: 220px;
    gap: 0;
    align-self: end;
    background-image:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(
        url("../../images/bonus-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/bonus-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/bonus-background-desktop@2x.jpg") 2x,
        url("../../images/bonus-background-desktop@1x.jpg") 1x,
      );
  }
}

.extra-products__text {
  margin-top: 0;
  font-size: 16px;
  line-height: 20px;
  color: $light-base;
  text-align: center;

  @media ($tablet-width < width < $desktop-width) {
    grid-column: 2;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.extra-products__bonus::before {
  content: "";
  display: inherit;
  margin: 0 auto 48px;
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 13px auto 5px;
  }
}
