.extra-products__wrapper {
  margin: 0 auto;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.extra-products__table {
  width: 100%;
  margin-bottom: 54px;
}

.extra-products__bonus {
  padding-left: 58px;
  padding-right: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/bonus-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 290px;
}

.extra-products__text {
  font-size: 16px;
  line-height: 20px;
  color: $light-base;
  text-align: center;
}

.extra-products__text::before {
  content: "";
  display: inherit;
  margin: 0 auto;
  margin-bottom: 48px;
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  width: 78px;
  height: 80px;
}
