.features {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 105px;
    padding-bottom: 47px;
    border-bottom: 1px solid $light-grey;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 106px;
    padding-bottom: 69px;
    border-bottom: none;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    gap: 37px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    counter-reset: list 0;
  }
}

.features__item {
  display: grid;
  position: relative;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 20px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    grid-template-columns: 249px;
    gap: 31px;
  }
}

.features__item::before {
  content: "";
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;

  @media (min-width: $tablet-width) {
    margin-top: 40px;
    width: 80px;
    height: 80px;
  }
}

.features__item--leaf::before {
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.features__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-powder");
  background-size: 26px 29px;
}

.features__item--table-set::before {
  background-image: url("../../icons/stack.svg#icon-table-set");
  background-size: 25px 30px;
}

.features__item--watch::before {
  background-image: url("../../icons/stack.svg#icon-watch");
  background-size: 26px 31px;
}

.features__item::after {
  @media (min-width: $tablet-width) {
    counter-increment: list;
    content: counter(list);
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    font-family: $secondary-font;
    color: $light_secondary;
    z-index: -1;
    right: 0;
    top: 0;
  }
}

.features__item-desc {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 57px;
    font-size: 16px;
    line-height: 24px;
  }
}
