.form__field {
  margin-bottom: 15px;
  padding: 13px;
  width: 100%;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 29px;
  color: $dark-grey;
  text-transform: uppercase;
  background-color: $light-base;
  border: 1px solid $light-secondary;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__button {
  font-size: 20px;
  line-height: 26px;
  min-height: 56px;
  width: 100%;
}
