.form__field {
  margin-bottom: 16px;
  padding: 13px;
  width: 100%;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 30px;
  color: $dark-grey;
  text-transform: uppercase;
  background-color: $light-base;
  border: 1px solid $light-secondary;
}

.form__button {
  font-size: 20px;
  line-height: 26px;
  min-height: 56px;
}
