.logo {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 3px solid $base-color;
    border-radius: 3px;
  }

  &:active,
  &focus {
    opacity: 0.6;
  }
}

.logo__text {
  display: block;
  margin: 0;
}

.logo__logo-text--header {
  display: block;

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
  }
}
