.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__toggle {
  width: 24px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    max-width: 470px;
  }

  @media (min-width: $desktop-width) {
    max-width: 520px;
  }
}

.main-nav__link {
  display: block;
  position: relative;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 16px;
  text-transform: uppercase;
  color: $base-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--current::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 15px;
  width: calc(100% - 30px);
  background-color: $accent-color;
}
