.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 21px 14px 20px;
}

.main-header__logo {
  display: flex;
  gap: 14px;
  align-items: center;
}
