.main-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 13px 21px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 33px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.main-header__wrapper--secondary {
  margin-bottom: 26px;
  border-bottom: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    border-bottom: 0;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.main-header__logo {
  display: flex;
  margin-bottom: 10px;
  gap: 56px;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 174px;
    height: 50px;
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    gap: 14px;
    height: 59px;
  }
}
