.main-nav__toggle {
  display: block;
  position: absolute;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 35px;
    margin-left: auto;
    max-width: 470px;
  }

  @media (min-width: $desktop-width) {
    max-width: 520px;
  }
}

.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 11px;
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__list--accent .main-nav__link {
  @media (min-width: $desktop-width) {
    color: $light-base;
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $accent-color;
  }
}

.main-nav__list--accent .main-nav__link--current::after {
  @media (width >= 1440px) {
    background-color: $light-base;
  }
}

//реализация открытия и закрытия меню на мобильном устройстве


@media (width < $tablet-width) {
  .main-nav {
    width: 100%;
    text-align: center;
  }

  // меню закрыто на мобильном устройстве

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--closed .main-nav__toggle {
    top: 20px;
    right: 21px;
    width: 24px;
    height: 24px;
    background-image: url("../../icons/stack.svg#icon-burger-menu");
  }

  // меню открыто на мобильном устройстве

  .main-nav--opened .main-nav__list {
    position: absolute;
    background-color: $light-base;
    width: 100%;
    right: 0;
    z-index: 1;
  }

  .main-nav--opened .main-nav__link {
    display: block;
    padding: 22px 20px 24px;
  }

  .main-nav--opened .main-nav__item {
    border-top: 1px solid $light-grey;
  }

  .main-nav--opened .main-nav__item:last-child {
    border-bottom: 1px solid $light-grey;
  }

  .main-nav--opened .main-nav__toggle {
    top: 22px;
    right: 20px;
    width: 18px;
    height: 18px;
    background-image: url("../../icons/stack.svg#icon-close");
  }

  // меню открыто на мобильном устройстве, при отсутствии JS

  .main-nav--no-js {
    display: block;
  }

  .main-nav--no-js .main-nav__link {
    display: block;
    padding: 22px 20px 24px;
  }

  .main-nav--no-js .main-nav__item {
    margin-right: -20px;
    margin-left: -20px;
    border-top: 1px solid $light-grey;
  }

  .main-nav--no-js .main-nav__item:last-child {
    border-bottom: 1px solid $light-grey;
  }

  .main-nav--no-js .main-nav__toggle {
    display: none;
  }
}
