.main-nav {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__link {
  display: block;
  font-family: $secondary-font;
  font-size: 20px;
  padding: 10px 16px;
  text-transform: uppercase;
  color: $base-color;
  text-decoration: none;
}
