.map {
  background-image:
    image-set(
      url("../../images/map-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/map-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/map-mobile@2x.jpg") 2x,
      url("../../images/map-mobile@1x.png") 1x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(
        url("../../images/map-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/map-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/map-tablet@2x.jpg") 2x,
        url("../../images/map-tablet@1x.png") 1x,
      );
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/map-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/map-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/map-desktop@2x.jpg") 2x,
        url("../../images/map-desktop@1x.png") 1x,
      );
  }
}

.map__body {
  display: block;
  border: 0;
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}
