.page {
  height: 100vh;
}

.page__body {
  margin: 0;
  font-family: $base-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  background-color: $light-base;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;
}
