.page {
  height: 100vh;
}

.page__body {
  margin: 0 auto;
  font-family: $base-font;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  background-color: $light-base;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 2000px;
  }
}

.page__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
  margin: 0 auto;
}
