.page-footer {
  flex-shrink: 0;
  margin-top: auto;
  background-color: $light-secondary;
}

.page-footer__wrapper {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.page-footer__social {
  margin: 0 0 20px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    max-width: 235px;
    border: none;
  }
}

.page-footer__logo {
  margin-bottom: 19px;
  align-self: center;
  width: 128px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 37px;
  }
}
