.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 320px, $light-base 320px),
    url("../../images/index-background-mobile@1x.jpg"),
    linear-gradient(to right, #504f54 50%, #444348 50%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top center;
  background-size: auto;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 63%, $light-base 63%),
      url("../../images/index-background-mobile@1x.jpg"),
      linear-gradient(to right, #504f54 50%, #444348 50%);
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    padding-top: 65px;
    padding-left: 30px;
    padding-right: 29px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 225px 1fr 1fr 1fr;
    padding: 29px 110px 52px;
  }
}

.promo::before {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    background-image:
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../../images/index-background-desktop@1x.jpg");
    width: 720px;
    height: 694px;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.promo__title {
  margin: 0 0 25px;
  font-size: 36px;
  font-weight: 400;
  font-family: $secondary-font;
  color: $light-base;
  line-height: 36px;
  text-align: center;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: 0 0 40px 90px;
    font-size: 60px;
    line-height: 60px;
    color: $base-color;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 80px 0 40px 80px;
  }
}

.promo__text {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: $secondary-font;
  color: $light-base;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0 0 21px 90px;
    font-size: 20px;
    line-height: 20px;
    color: $base-color;
    text-align: left;
  }
}

.promo__image {
  display: block;
  margin: 0 auto 3px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/5;
    grid-row: 1/7;
  }
}

.promo picture {
  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.promo__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: $base-color;
  width: 100%;
  max-width: 400px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 3/4;
    align-self: start;
    margin-left: 90px;
    margin-top: 29px;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    min-height: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
