.promo {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  background-image:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 63%, rgba(104, 183, 56, 0.85) 63%, $light-base 63%),
    url("../../images/index-background-mobile@1x.jpg"),
    linear-gradient(to right, #504f54 50%, #444348 50%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top center;
  background-size: auto;

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 63%, rgba(104, 183, 56, 0.85) 63%, $light-base 63%),
      url("../../images/index-background-mobile@1x.jpg"),
      linear-gradient(to right, #504f54 50%, #444348 50%);
  }
}

.promo__title {
  margin: 0 0 25px;
  font-size: 36px;
  font-weight: 400;
  font-family: $secondary-font;
  color: $light-base;
  line-height: 36px;
  text-align: center;
}

.promo__text {
  margin-bottom: 29px;
  font-family: $secondary-font;
  color: $light-base;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.promo__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: $base-color;
}
